*, html {
	/*font-family: "Times New Roman", Times, serif;*/
	font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
	outline: 2px solid lightgreen;
}


.container {
	width: 100%;
	position: relative;
}


/* style in common
--------------------*/

a {
	color: #394150;
	text-decoration: none;

}


a:hover {
	color: #FF133E;
	transition: color .5s;

}


img {
	vertical-align: middle;
}


section {
	/*padding-top: 50px;*/
	overflow: hidden;
	margin: 0 auto;
}

h2, h3, header {
	font-weight: bold;
}

h2 {
	font-size: 30px;
	padding-bottom: 60px;
	position: relative;
}
/* PS 突然理解了為什麼HTML結構寫得好就寫很快...
將共同的區塊定義好，就能一次做完
It's only for styling h2 
----------------------------------------*/
section div[class*="-wrap"]  h2 {
	/*outline: 10px solid blue;*/
	display: flex;
	justify-content: center;
	position: relative;
}

/*不置中
講師陣容、短期實體課程、掌握自己的學習路徑 
*/


h2 span {
	/*outline: 3px dotted orange;*/
}

h2 span:after {
	content: "";
	display: block;
	position: relative;
	top: 0%;
	left: 0%;
	width: 50px;
	height: 2px;
	background-color: #FF133E;
	margin: 10px auto 0 auto;
}


h3 {
	font-size: 18px;
}

header {
	font-size: 24px;
}



/*.curr-slogan-wrap, .curr-plan-wrap, 
.instr-wrap, .media-wrap, 
.course-wrap, .learning-wrap, 
.articles-wrap ,.ruby-wrap */
div[class*="-wrap"] {
	max-width: 1440px;
	padding: 80px 0px;
	margin: 0 auto;
	outline: 1px solid #FF133E;
}

a.btn-link {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background-color: #FF213E;
	margin-top: auto;
	padding: 15px 35px;
	border-radius: 5px;
	transition: background-color .5s;
}

a.btn-link:hover {
	color: #fff;
	background-color: #B91C1C;
}



::-moz-selection {  /* Code for Firefox */
	color: #fff;
	background-color: #FF133E;
}

::selection {
	color: #fff;
	background-color: #FF133E;
}



h2.curr-title, 
h2.media-title, 
.learning-path h2, 
.effort-5x h2,
.articles-wrap h2 {
	color: #394150;
	text-align: center;
}

.course-shortterm h2 {
	color: #fff;
}

p.curr-statement, 
p.instr-desc,
.learning-wrap p,
.course-shortterm p, 
.course-switch header {
	font-size: 22px;
}

p.curr-statement, 
p.instr-desc,
.learning-wrap p,
.course-shortterm p {
	padding-bottom: 50px;
}

p.curr-statement, 
.learning-wrap p {
	text-align: center;

}

.course-shortterm p {
	color: #fff;
}

/*  section background color, title color*/
section.instructors, section.media-report, 
section.learning-path {
	background-color: #F9FAFB;
}

section.course-info, footer {
	background-color: #29303E;
}


/* Header Navgation bar | must set the top: 0;
------------------------------------------------*/

nav.header {
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-content: center;
	background-color: #fff;
	z-index: 1000;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	/*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);	*/
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.title {
	display: flex;
	align-items: center;

}



/* Logo | 用超連結去撐開高度，這樣點擊父層區塊才有效
-------------------------------------------*/
.title a.home {
	font-weight: bold;
	display: flex;
	padding: 24px 0 24px 10px;

}

.logo img{
	width: 40px;
	vertical-align: middle;
}



.home span, .menu ul li a {
	font-size: 20px;
}


.home span {
	display: inline-block;
	padding-left: 5px;
}



/*	navigation menu
------------------------*/
.menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;	
}


.menu ul {
	display: flex;
}

.menu ul li {
	position: relative;
}

/* 用超連結去撐開高度，這樣點擊父層區塊才有效*/
.menu ul li a {
	font-weight: 500;
	display: inline-block;
	padding: 24px 15px;	
}

.menu ul li a:hover {
	color: #FF133E;

}

.menu ul li a::before, .menu ul li a::after{
	display: block;
	position: absolute;
	bottom: 0px;
	content: "";
	width: 0%;
	height: 3px;
	background-color: #FF133E;
	transition: width .5s, background-color 1s;
}

/* 算大概 ( 116px / (10px * 2) )  = 4.935% */
/* element:pseudo-class::pseudo-element */
.menu ul li a:hover::before, 
.menu ul li a:hover::after {
	/*display: block;*/
	position: absolute;
	content: "";
	width: 40%;
}

.menu ul li a::before, .menu ul li a:hover::before {
	left: 50%;
}

.menu ul li a::after, .menu ul li a:hover::after  {
	right: 50%;
}

/* 	Section Banner
----------------------------*/
section.banner {
	padding-top: 100px;
	background-image:url("../images/banner-home-aca80ad097b4d77ffa3b82879b5d14a8.jpg") ;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	position: relative;

}

section.banner:before {
	content: "";
	position: absolute;
	display: block;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #001133;
	opacity: 0.7;

}


/* TODO | Using border | Draw several  Triangle 
-----------------------------------------------*/

/* padding-left, padding-right 為了排列在 banner 量過後的位置 */
div.curr-slogan-wrap {
	max-width: 1200px;
	line-height: 1.6;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
}

div.curr-slogan-wrap h1 {
	font-size: 65px;
	font-weight: bold;

}

div.curr-slogan-wrap p {
	font-size: 22px;
	padding: 10px 0;	
}


/* Section curr-plan | curriculum planning 課程規劃 縮寫 curr-plan
------------------------------------------------*/
.curr-plan-wrap p.curr-statement {
	font-size: ;
}


.curr-feat-card h3 {
	padding-bottom: 25px;
}
.curr-feat-card h3, .curr-feat-card p {
	text-align: center;
	line-height: 1.6;
}

/* TODO  TEST | 為何.instr-header 沒反應，要使用id，可能是權重問題?
[.instr-header] only for testing , but why it's not working? 
it's working when I use id selector [#instructors-header]
---------------------------------------------*/
.instr-header {
	background-color: orange;
}

#instructors-header {
	max-width: 1024px;
	margin: 0 auto;
	text-align: left;
	/*background-color: orange;*/
}

.instr-contact-info {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #A0A6B1;
}

div.instr-photo {
	border-radius: 50%;
	overflow: hidden;
	padding: 0;
}

.instr-photo img {
	width: 100%;
	vertical-align: middle;
}

.instr-position {
	/*padding: 30px;*/
}



ul.cont-link {
	display: flex;
	justify-content: flex-start;
}


ul.cont-link li {
	font-size: 24px;
	padding-right: 10px;
}

ul.cont-link li a {
	color: #A0A6B1;
}

ul.cont-link li a:hover {
	color: #FF133E;
}


/*
	圖片設定一個最小視窗(320px)
	可看的固定尺寸
	-----------------------------*/
	.curr-feat-img img{
		text-align: center;
		width: 280px;
	}




/* Triangle
-------------------------- */


/*--triangle 畫三角形--*/
.triangle-container {
	display: flex;
}


.triangle, .inverted-triangle {
	/*background-color: #fff;*/
	aspect-ratio: 10 / 1;
	/*border: 1px solid blue;*/

}

.inverted-triangle {
	/*height: 200px;*/
	width: 35%;
	clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
	/* 多邊形 座標 : x y, x y, x y 右上角->右下角->*/
	/* clip-path:  path(); 自由曲線*/
	background-color: #fff;
}

.triangle {
	width: 65%;
	/*height: 200px;*/
	clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
	/* 多邊形 座標 : x y, x y, x y 右上角->右下角->*/
	/* clip-path:  path(); 自由曲線*/
	/* 等比例 5 : 1 */
	background-color: #fff;
}


.triangle-flip {
	/*background-color: #000;*/

}

.triangle-flip .inverted-triangle {
	width: 35%;
	clip-path: polygon( 0% 100%, 100% 100%, 100% 0%);
	background-color: #F9FAFB;

}

.triangle-flip .triangle {
	width: 65%;
	clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
	background-color: #F9FAFB;
}


section.media-report .triangle-flip, section.course-info .triangle-container {
	background-color: #29303E;
}

section.media-report .triangle-flip .inverted-triangle {
	width: 35%;
	clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
	background-color: #F9FAFB;
}


section.media-report .triangle-flip .triangle {
	width: 65%;
	clip-path: polygon( 0% 0%, 100% 0%, 100% 100%);
	background-color:#F9FAFB;
}


section.course-info .triangle-container .inverted-triangle {
	width: 65%;
	background-color:#F9FAFB;
}
section.course-info .triangle-container .triangle {
	width: 35%;
	background-color:#F9FAFB;
}









/* i pad  | show hamburger menu 
and show drop down list 
----------------------------------------*/
@media screen and (max-width: 1023px){


}

/* 
	1. section curr-plan 2 col 
	2. 講師陣容 1 col
	------------------------------------*/
	@media screen and (min-width: 768px){


	}



	@media screen and (min-width: 1024px){


	}


	@media screen and (min-width: 1200px){


	}