	
* {
	margin: 0;
	padding: 0;
}


.container {
	margin: auto;
	max-width: 1200px;

}
.item {
	padding: 10px;
	margin: 10px;
	border: 1px solid #D6D6D6;
}


.pic {
	margin: 5px;
}

.pic img {
	width: 100%;
	vertical-align: middle;
}


article.description {

}


/* Mobile */
@media screen and (min-width: 375px) {
	/**/
}

/* iPad */
@media screen and (min-width:768px) {

}

/* PC */
@media screen and (min-width:1200px) {

	.item {
		display: flex;
		align-items: center;
		justify-content: center;
	}	

	.pic {
		width: 47.833333%; /* 1200-(10*2)-(10*2)-(5*2)-(1*2) */
	}

	.description {
		width: 47.833333%;
	}

	.item:nth-of-type(even) .pic {
		order: 1;
	}

}
