a {
  text-decoration: none;
}


.menu {
  display: flex;
}

.list-item {
  outline: 1px solid pink;
  margin: 10px;
}

[class*="sub-menu-"] {
  font-size: 18px;
  font-weight: 900;
  display: block;
  border-bottom: 2px solid #e6e6e6;
  padding: 10px;
}

.sub-menu {
  width: 1000px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  z-index: 2;
  background-color: #fafafa;
  /*   visibility: hidden; */
}

.sub-menu .sub-list-item {
  padding: 10px;
}

/* .sub-list-item:nth-of-type(1) {
  outline: 1px solid red;
}
 */


.sub-list-title {
  display: block;
  font-weight: 900;
}

.sub-list-title + span {
/*   outline: 1px solid;
  display: inline-block;
  width: 250px;
  height: 50px;
overflow: hidden;
  white-spacing: nowrap;
   text-overflow: ellipsis; */
  
}


.sub-menu-top-keywords + ul li {
  padding: 5px;
}

